*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

input:focus{
    background-color: brown;
}

input::placeholder{
    color: aqua;
}

/* ul li:first-child{
    color: blue;
}

ul li:last-child{
    color:purple;
 } */

ul li:nth-child(even) {
    color: orangered;
}

ul li:nth-child(odd) {
    color: purple;
}






